@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
  :root {
    --cor-de-fundo-claro: #faf0e4;
    --azul-bebe-claro: #9bcdd2;
    --laranja-claro: #ff8551;
    --rosa-claro: #ffdede;
    --cor-texto-secundario: #1c82ad;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--cor-de-fundo-claro);
    font-family: 'poppins';
  }

  .titulo {
    font-weight: 600;
    font-size: 3rem;
    color: var(--cor-texto-secundario);
    margin-bottom: 5rem;
  }

  .container-jogadores {
    display: flex;
    text-align: center;
    font-weight: 600;
    margin-bottom: 4rem;
    color: var(--rosa-claro);
  }

  .titulo-jogador {
    margin-bottom: 0.5rem;
  }

  .jogador1 .titulo-jogador {
    margin-right: 0.5rem;
  }

  .jogador2 .titulo-jogador {
    margin-left: 0.5rem;
  }

  .barra-de-baixo {
    margin-top: 0.2rem;
    height: 4px;
    width: 100%;
    background-color: var(--rosa-claro);
  }

  .container-jogo-da-velha {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }

  .quadrado {
    font-size: 5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto-secundario);
  }

  .quadrado:nth-child(1) {
    border-right: 4px solid var(--azul-bebe-claro);
    border-bottom: 4px solid var(--azul-bebe-claro);
  }

  .quadrado:nth-child(2) {
    border-bottom: 4px solid var(--azul-bebe-claro);
  }

  .quadrado:nth-child(3) {
    border-left: 4px solid var(--azul-bebe-claro);
    border-bottom: 4px solid var(--azul-bebe-claro);
  }

  .quadrado:nth-child(4) {
    border-right: 4px solid var(--azul-bebe-claro);
    border-bottom: 4px solid var(--azul-bebe-claro);
  }

  .quadrado:nth-child(5) {
    border-bottom: 4px solid var(--azul-bebe-claro);
  }

  .quadrado:nth-child(6) {
    border-left: 4px solid var(--azul-bebe-claro);
    border-bottom: 4px solid var(--azul-bebe-claro);
  }

  .quadrado:nth-child(7) {
    border-right: 4px solid var(--azul-bebe-claro);
  }

  .quadrado:nth-child(9) {
    border-left: 4px solid var(--azul-bebe-claro);
  }

  .botao-reiniciar {
    color: var(--laranja-claro);
    width: 1.5rem;
    aspect-ratio: 1/1;
  }

  .container-botao-reiniciar {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--cor-de-fundo-claro);
    box-shadow: 0 0 10px var(--laranja-claro);
  }

  .container-botao-reiniciar:hover,
  .botao-reiniciar:hover,
  .container-botao-reiniciar:focus,
  .botao-reiniciar:focus {
    cursor: pointer;
    background-color: var(--laranja-claro);
  }

  .container-botao-reiniciar button {
    background: none;
    border: none;
    outline: none;
  }

  .container-anuncio {
    position: absolute;
    background-color: var(--laranja-claro);
    padding: 3rem 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(255, 133, 81, 0.8);
  }
}

.escondido {
  display: none;
}

.selecionado-letras {
  color: var(--laranja-claro);
}

.selecionado-barra {
  background-color: var(--laranja-claro);
}
